* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

header img{
    height: 100px;
    float: left;
}
header {
    background-color: black;
    border-bottom: 0cap;
    border-bottom: 2px solid white;
    position: sticky;
    top: 0%;
    width: 100%;
}

.add_header {
   border-bottom: 2px solid white;
   background-color: black;
   text-align: center;
   color: white;
}

.container {
         background-color: black;
         width: 100%;
         max-width: 1024px;;
         margin: 0 auto;
         padding: 20px;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
nav {
    background-color: black;
    float: right;
    gap: 40px;
    
}

nav li {
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: azure;
    line-height: 100px;
    font-size: 30px;
    margin-left: 5px;
    margin: 0 10px;

}

.add_header > .container > a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
}

.content {
    background-color: darkgrey;
}

.content > .container {
    background-color: darkgrey;
}

.articles {
    float: left;
    border: 1px solid black;
    width: 65%;
}

.sidebar {
    float: right;
    width: 35%;
    border: 1px solid black;
    margin-left: 10px;
    padding: 20px;

}

.article {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid black;
}

.article_text {
    float: left;
    width: 200px;
    border: 1px solid black;
}

.article_img {
    width: 150px;
    height: 150px;
    float: right;
}

.article_img  > img{
    width: 100%;
    height: 100%;
}

.article:after {
    content: "";
    display: table;
    clear: both;
}

nav ul li:last-child {
    background-color: grey;
    border-radius: 10px; 
}

.btn {
    background: grey;
    font-size: 20px;
    width: 250px;
    text-align: center;
    padding: 15px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 50px;
}

.slogan {
    font-size: 40px;
    font-family: sans-serif;
    font-style: italic;
    padding: 50px 0;
}

form {
    font-size: 25px;
}
 
label, input, textarea {
    display:block;
    font-size: 25px;
    width: 100%;
    margin-bottom: 3px;
}

body {
    background-color: bisque;

}
